<li id="post-<%=i._id%>">
    <p>
        <%if((locals.user)&&(locals.user.id==i.user.id)){%>
        <small>
            <a class="delete-post-button" href="/post/destroy/<%=i.id%>">X</a>
        </small>
        <%}%>
        <li><%=i.content%></li>
        <br>
        
        <small>
            <%=i.user.name%>
            <%= i.createdAt.toLocaleString('en-US', { weekday: 'short', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true, timeZone: 'Asia/Kolkata' }) %>
        </small>
    </p>
    <div class="post-comments">
        <%if(locals.user){%>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type here to add comment">
                <input type="hidden" name="post" value="<%=i._id%>">
                <button type="submit">Add Comment</button>
            </form>
            <%}%>
            <div class="post-comment-list">
                <ul id="post-comments-<%=i._id%>">
                    <%for(comment of i.comments){%>
                        <%-include('_comment',{comment:comment})-%>
                        
                        <%}%>
                </ul>
            </div>
    </div>
</li>
