<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">
<div id="home-content">
  <section id="feed-posts">
    <h3>Posts</h3>
    <%if(locals.user){%>
    <form action="/post/create" id="new-post-form" method="post">
      <textarea
        name="content"
        cols="30"
        rows="3"
        placeholder="Type here"
      ></textarea>
      <button type="submit">Post</button>
    </form>
    <%}%>
    <div id="post-list">
      <ul>
        <%for(let i of posts){%> <%- include('_post', { i: i }) -%> <%}%>
      </ul>
    </div>
  </section>
  <section id="user-friends">
    <h3>Friends</h3>
    <%for(let u of all_user){%>
    <p class="friend-name" style="width:fit-content;">
      <a href="/user/profile/<%=u.id%>"><%=u.name%></a>
    </p>
    <%}%>
  </section>
  <%-include('_chat_box')-%>
</div>
<script src="/js/home_post_comment.js"></script>
<script src="/js/home_post.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
<script src="/js/chatengine.js"></script>
<%if(locals.user){%>
<script>
  new ChatEngine('user-chat-box','<%=locals.user.email%>')
</script>
<%}%>